<div class="ui top fixed menu" id="topMenu">

        <a class="item" onclick="home()" style="color: rgb(19, 29, 97)">MUSIC LOUNGE</a>
        <a class="item" onclick="profile()">Profile</a>
        <a class="item" onclick="uploadMusic()">Upload</a>
        <a class="item" onclick="logout()">Logout</a>
        
        <div class="right item">
        <div class="ui icon input">
            <input type="text" id = 'searchBar' style="height:35px" placeholder="Search Artists...">
            <i class="search icon" onclick="search()"></i>
        </div>
    </div>
    </div>
    