<div class="ui top fixed menu" id="topMenu">

        <a class="item" onclick="home()" style="color: rgb(19, 29, 97)">MUSIC LOUNGE</a>
        <a class="item" onclick="">Profile</a>
        <a class="item" onclick="uploadMusic()">Upload</a>
        <a class="item" onclick="logout()">Logout</a>
        
        <div class="right item">
            <div class="item">MUSIC LOUNGE</div>
            <div class="ui icon input">
                <input type="text" style="height:35px" placeholder="Search Songs/Aritsts...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    