<div class="container">

    <h3 id='name' class="dHead">Default Profile</h3>
	<div id="personalInformation">
		<img width="178px" height="180px" id=profilePicture src="../Assets/Images/DefaultProfile.png">
		
	</div>
	<div> 
		<div>
		<br>
			<h4> Following <h4>
			<div class='ui segment' id='following'>
				none
			</div>
		</div>
		<div>
		<br>
			<h4> Followers <h4>
			<div class='ui segment' id='followers'>
				none
			</div>
		</div>
	</div>
	<h4> Song List </h4>
    <div id="songList"
        <div class="ui segment">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>

</div>