<div class="container">
    <div class="loginBox">

        <form class="ui form">
            <h3> Register </h3>
            <!-- Username field -->
            <div class="field">
                <label>Username</label>
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" id="username" placeholder="Username">
                </div>
            </div>
            <!-- Password field -->
            <div class="field">
                <label>Password</label>
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" id="password" placeholder="Password">
                </div>
            </div>
            <!-- Genre field -->
            <div class="field">
                <label>Genre</label>
                <div class="ui left icon input">
                    <i class="music icon"></i>
                    <input type="text" id="genre" placeholder="Rock">
                </div>
            </div>
             <!-- Origin City field -->
             <div class="field">
                <label>Origin City</label>
                <div class="ui left icon input">
                    <i class="home icon"></i>
                    <input type="text" id="originCity" placeholder="Philadelphia">
                </div>
            </div>

              <!-- Active Since field -->
              <div class="field">
                <label>Active Since</label>
                <div class="ui left icon input">
                    <i class="grey users icon"></i>
                    <input type="text" id="activeSince" placeholder="2000">
                </div>
            </div>


            <!-- Buttons -->
            <button class="ui fluid orange button" onclick="register()" type="button">Register</button>
            <div class="ui horizontal divider">OR</div>
            <button class="ui fluid blue button" onclick="switchAuth()" type="button">Switch to Login</button>
        </form>

    </div>
</div>